# Build artifacts
quickshell/core/build/

# OS-specific
.hyprland_profile
.initial_startup_done

# Cache
*~
*.bak
*.swp

# Wallpaper cache
hypr/wallpaper_effects/.wallpaper_current
style.css.backup
hyprland.conf.save
core/
licenses/
core/
licenses/
AGENTS.md
LICENSE
qs_test.qml
quickshell/quickshell/
